div.mywork-container {
	border: solid #2CFF00 2px;
	width: 55vw;
	height: 58vh;
	margin: 0 20vw 3vh 20vw;
}

.proj-img {
	height: 100%;
	width: 100%;
}

div.mytext-container {
	text-align: left;
	border: solid #2CFF00 2px;
	width: 55vw;
	height: fit-content;
	margin: 0 20vw 13vh 20vw;
	background-color: white;
	font-family: 'VT323', monospace;
	font-size: 1.5rem;
}

button.langchange {
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}


@media only screen and (max-width: 414px) {
	div.mywork-container {
		margin: 0 7vw 13vh 7vw;
		width: 85vw;
		height: 40vh;
	}
	div.mytext-container {
		margin: 0 7vw 13vh 7vw;
		width: 85vw;
	}
	.bot-link {
		padding-right: 10px;
	}
	h4 {
		width: 18rem;
	}
}

@media only screen and (max-width: 360px) {
	h4 {
		width: 13rem;
	}
}
