ul {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  list-style: none;
}

#scene {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 0;
  text-align: center;
}

ul#scene > * {
  position: relative!important;
}

@keyframes animate {
  0% { visibility: hidden; }
  25% { bottom: 0; }
  50% { visibility: hidden; }
  100% { bottom: 0; }
}

img.info-img-top {
  margin-bottom: 15px;
  height: 1.5rem;
  width: max-content;
}

div.fullstack {
  left: 101%;
}

.rome {
  left: 101%;
}

.lang {
  left: 101%;
}

.a28 {
  left: 113%;
}

.mobilenumber {
  left: 102%;
}

.email1 {
  left: 101%;
}



a img.msi, img.speaks, img.mobile, img.email, img.occupation, img.location, img.fullstack, img.contacts, img.works, img.resume {
  max-width: 175%;
}

@media only screen and (max-width: 900px) {
  .no-logo {
    left: -15%!important;
  }
}